flask
requests
pytube
yt_dlp
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pydub==0.25.1
SpeechRecognition==3.12.0
typing_extensions==4.12.2
urllib3==2.1.0
Werkzeug==3.0.1